*txt
*mat
fortran/lib/dummy_mpi/libmpi.a
fortran/lib/dummy_mpi/mpi.o
fortran/lib/lapack/liblapack.a
fortran/lib/lapack/obj
fortran/lib/scalapack/libscalapack.a
fortran/lib/scalapack/obj
fortran/lib/FFT/fftpack5.o
fortran/obj
fortran/dat
*mod
*.gif
*.asv
/TurbData
pap_dat
fortran/FFTs/fftpack5.o
*.png
*.svg
*.eps
*.o
turb*mfs
.vscode/
dumbplot.m